cmake
curl
default-jre
dos2unix
freeglut3
freeglut3-dev
g++
g++-multilib
gcc
gcc-multilib
git
libcanberra-gtk*
libffi-dev
libgdbm-dev
libncurses5-dev
libqt4-dev
libreadline6-dev
libsmokeqt4-dev
libssl-dev
libyaml-dev
minicom
neovim
qt4-default
qt4-dev-tools
wget
xfce4-terminal
zlib1g-dev